# Desafio Python e SQL

### Create

In [7]:
import sqlite3
dados_conexao = sqlite3.connect('chinook.db')
cursor = dados_conexao.cursor()

In [9]:
cursor.execute("""
INSERT INTO albums (Title, ArtistId)
VALUES
('Thiarly Cavalcante', 4)
""")

dados_conexao.commit()

dados_conexao.close()