#### Bibliotecas

In [21]:
# pandas

import pandas as pd

df = pd.DataFrame(
        {
            "Name": [
                "Braund, Mr. Owen Harris",
                "Allen, Mr. William Henry",
                "Bonnell, Miss. Elizabeth",
            ],
            "Age": [22, 35, 58],
            "Sex": ["male", "male", "female"],
        }
    )
    
display(df)
display (df['Age'])

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

0    22
1    35
2    58
Name: Age, dtype: int64

In [16]:
ages = pd.Series([22, 35, 58], name="Age")
display (df["Age"].max())
display(ages)

58

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
# requests

#### Funções Específicas

In [27]:
# datas no pandas
import pandas as pd

tabela = pd.read_excel('Contratos.xlsx')
tabela.dtypes

Cliente             object
Data Pagamento      object
Data Pagamento 2    object
dtype: object

In [ ]:
# funcao datetime

In [ ]:
# funcao merge do pandas

#### APIs

In [ ]:
# documentação de APIs cada uma é diferente da outra, 
# vejam o módulo de API que eu faço vários exemplos lá

# exemplo sandbox https://dadosabertos.bcb.gov.br/dataset/dinheiro-em-circulao

# exemplo documentação: https://www.alphavantage.co/