#### Bibliotecas

In [35]:
# pandas

import pandas as pd

df = pd.DataFrame(
        {
            "Name": [
                "Braund, Mr. Owen Harris",
                "Allen, Mr. William Henry",
                "Bonnell, Miss. Elizabeth",
            ],
            "Age": [22, 35, 58],
            "Sex": ["male", "male", "female"],
        }
    )
    
display(df)
display (df['Age'])

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

0    22
1    35
2    58
Name: Age, dtype: int64

In [36]:
ages = pd.Series([22, 35, 58], name="Age")
display (df["Age"].max())
display(ages)

58

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
# requests

#### Funções Específicas

In [46]:
# datas no pandas
import pandas as pd
tabela = pd.read_excel('Contratos.xlsx')

#Formato com y maiusculo é para ano com 4 digitos. '%m/%d/%Y'
tabela['Data Pagamento'] = pd.to_datetime(tabela['Data Pagamento'], format='%d/%m/%Y')

#Formato com y minusculo é para ano com 2 digitos. '%m-%d-%y'
tabela['Data Pagamento 2'] = pd.to_datetime(tabela['Data Pagamento 2'], format='%m-%d-%y')

#tabela['Data Pagamento'] = pd.to_datetime(tabela['Data Pagamento'])
display(tabela.dtypes)
display(tabela)

Cliente                     object
Data Pagamento      datetime64[ns]
Data Pagamento 2    datetime64[ns]
dtype: object

    Cliente Data Pagamento Data Pagamento 2
0    Fulano     2022-09-22       2022-09-22
1  Beltrano     2022-04-17       2022-04-17
2   Ciclano     2022-02-21       2022-02-21
3      Lira     2022-12-27       2022-12-27
4     Julia     2022-02-01       2022-02-01
5    Marcus     2022-07-08       2022-07-08
6    Amanda     2022-09-28       2022-09-28
7   Larissa     2022-05-28       2022-05-28
8      Alon     2022-10-06       2022-10-06

In [48]:
# funcao merge do pandas

emails = pd.read_excel('Emails.xlsx')
tabela = tabela.merge(emails, left_on='Cliente', right_on='Nome')
display(tabela)

    Cliente Data Pagamento Data Pagamento 2      Nome               Email
0    Fulano     2022-09-22       2022-09-22    Fulano    fulano@gmail.com
1  Beltrano     2022-04-17       2022-04-17  Beltrano  beltrano@gmail.com
2   Ciclano     2022-02-21       2022-02-21   Ciclano   ciclano@gmail.com
3      Lira     2022-12-27       2022-12-27      Lira      lira@gmail.com
4     Julia     2022-02-01       2022-02-01     Julia     julia@gmail.com
5    Marcus     2022-07-08       2022-07-08    Marcus    marcus@gmail.com
6    Amanda     2022-09-28       2022-09-28    Amanda    amanda@gmail.com
7   Larissa     2022-05-28       2022-05-28   Larissa   larissa@gmail.com
8      Alon     2022-10-06       2022-10-06      Alon      alon@gmail.com

In [58]:
# funcao datetime

from datetime import datetime

data = datetime(2023, 3, 26)
print(data)

2023-03-26 00:00:00

#### APIs

In [59]:
# documentação de APIs cada uma é diferente da outra, 
# vejam o módulo de API que eu faço vários exemplos lá

# exemplo sandbox https://dadosabertos.bcb.gov.br/dataset/dinheiro-em-circulao

# exemplo documentação: https://www.alphavantage.co/

import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=IBM&apikey=demo'
r = requests.get(url)
data = r.json()

print(data)

{'Global Quote': {'01. symbol': 'IBM', '02. open': '123.3600', '03. high': '125.4000', '04. low': '122.8800', '05. price': '125.2900', '06. volume': '3812644', '07. latest trading day': '2023-03-24', '08. previous close': '123.3700', '09. change': '1.9200', '10. change percent': '1.5563%'}}

In [68]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol=IMB&apikey=demo'
r = requests.get(url)
data = r.json()

print(data)

{'Information': 'The **demo** API key is for demo purposes only. Please claim your free API key at (https://www.alphavantage.co/support/#api-key) to explore our full API offerings. It takes fewer than 20 seconds.'}