### Puxar base de dados

In [3]:
import pandas as pd

tabela = pd.read_csv('exportacoes_franca.csv')
tabela = tabela.loc[tabela['Economic Block'] == 'Europe', :]
display(tabela)

# drop -> joga a coluna fora
# sort -> ordena as linhas
# loc -> filtra as linhas

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
6,2016,1,France,Alta Floresta - MT,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,47828,28306
8,2016,1,France,Ananindeua - PA,1211,Plants and parts of plants (including seeds an...,12,"Oil seeds and oleaginous fruits; Grains, Seeds...",Europe,391,22
...,...,...,...,...,...,...,...,...,...,...,...
142350,2020,12,France,Vinhedo - SP,4016,Other articles of vulcanised rubber other than...,40,Rubber and articles thereof,Europe,136,0
142352,2020,12,France,Vinhedo - SP,6806,"Slag wool, rock wool and similar mineral wools...",68,"Articles of stone, plaster, cement, asbestos, ...",Europe,76,50
142354,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",Europe,2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045

### Informações Gerais

In [4]:
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71180 entries, 0 to 142358
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             71180 non-null  int64
 1   Month            71180 non-null  int64
 2   Country          71180 non-null  object
 3   City             71180 non-null  object
 4   SH4 Code         71180 non-null  int64
 5   SH4 Description  71180 non-null  object
 6   SH2 Code         71180 non-null  int64
 7   SH2 Description  71180 non-null  object
 8   Economic Block   71180 non-null  object
 9   US$ FOB          71180 non-null  int64
 10  Net Weight       71180 non-null  int64
dtypes: int64(6), object(5)
memory usage: 6.5+ MB
None

### Como foi a evolução das exportações para a frança ao longo dos anos?

In [5]:
exportacao_ano = tabela.groupby('Year').sum()
exportacao_ano = exportacao_ano[['US$ FOB']]

# Criar uma função de formatação
def formatar (valor):
    return f"${valor:,.2f}"

#Aplicar a formatação
exportacao_ano['US$ FOB'] = exportacao_ano['US$ FOB'].map(formatar)

display(exportacao_ano)

                US$ FOB
Year
2016  $2,307,750,041.00
2017  $2,224,352,728.00
2018  $2,619,712,208.00
2019  $2,609,361,806.00
2020  $1,983,797,405.00

### Quais os produtos mais exportados ao longo de todo o período?

In [18]:
exportacao_produto = tabela.groupby('SH4 Description').sum()
exportacao_produto = exportacao_produto[['US$ FOB']]
exportacao_produto = exportacao_produto.sort_values('US$ FOB', ascending=False)
exportacao_produto['US$ FOB'] = exportacao_produto['US$ FOB'].map(formatar)
display(exportacao_produto)

                                                              US$ FOB
SH4 Description
Soybean oilcake and other solid residue, wh/not...  $2,814,212,320.00
Iron ores and concentrates, including roasted i...  $1,632,140,244.00
Chemical wood pulp, soda or sulphate, other tha...    $922,712,342.00
Coffee, whether or not roasted or decaffeinated...    $536,277,376.00
Other aircraft (for example, helicopters, aerop...    $342,566,535.00
...                                                               ...
Anti-freezing preparations and prepared de-icin...              $5.00
Man-made filament yarn (other than sewing threa...              $5.00
Glass envelopes (including bulbs and tubes), op...              $4.00
Cast glass and rolled glass, in sheets or profi...              $3.00
Drawing or colouring books for children                         $3.00

[935 rows x 1 columns]

### Em 2020 qual cidade mais exportou para a França?

In [39]:
tabela_2020 = tabela.loc[tabela['Year'] == 2020, :]
exportacao_cidade_2020 = tabela_2020.groupby('City').sum()[['US$ FOB']]
exportacao_cidade_2020 = exportacao_cidade_2020.sort_values('US$ FOB', ascending=False)
exportacao_cidade_2020['US$ FOB'] = exportacao_cidade_2020['US$ FOB'].map(formatar)

display(exportacao_cidade_2020)

                                     US$ FOB
City
Duque de Caxias - RJ         $139,702,798.00
Luís Eduardo Magalhães - BA  $132,664,066.00
Ponta Grossa - PR             $93,888,508.00
São José dos Campos - SP      $86,469,638.00
Rio de Janeiro - RJ           $61,261,107.00
...                                      ...
Não-Me-Toque - RS                     $21.00
Cubatão - SP                          $20.00
Holambra - SP                          $5.00
São Sebastião do Caí - RS              $3.00
Quatro Pontes - PR                     $0.00

[648 rows x 1 columns]

### O que as 2 maiores cidades exportaram tanto?

In [55]:
#Duque de Caxias - RJ

cidade = exportacao_cidade_2020.index[5]

tabela_cidade = tabela_2020.loc[tabela_2020['City']==cidade, :]
tabela_cidade = tabela_cidade.groupby('SH4 Description').sum()
tabela_cidade = tabela_cidade[['US$ FOB']]
tabela_cidade = tabela_cidade.sort_values('US$ FOB', ascending=False)
tabela_cidade['US$ FOB'] = tabela_cidade['US$ FOB'].map(formatar)
display(tabela_cidade)

                                                           US$ FOB
SH4 Description
Iron ores and concentrates, including roasted i...  $58,172,895.00